body{
     font-family: 'IM Fell English SC', serif;
     background-color: white;
}

h3{
    font-size: 5vw;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    vertical-align: middle;
    color: #262626;
    padding: 25px 50px;
}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}