{% extends "game.html" %}


{% block content %}
{{ super() }}
          <span class="card-title">Crossroad</span>
          <p>Do you want to return to TOWN, REST, or DELVE deeper?</p>
        <div class="card-action">
          <form method="post" action="/crossroadSend">
            <button class="btn waves-effect waves-light" type="submit" name="directionButton" value="town">Town</button>
            <button class="btn waves-effect waves-light" type="submit" name="directionButton" value="rest">Rest</button>
            <button class="btn waves-effect waves-light" type="submit" name="directionButton" value="delve">Delve</button>
          </form>
        </div>
{% endblock %}



