{% extends "game.html" %}


{% block content %}
{{ super() }}
          <span class="card-title">{{ action }}</span>
          <p>{{ resultA }}</p>
          <p>{{ resultB }}</p>
          <p>{{ resultC }}</p>
          <br>
          <p>{{ name}} escapes!</p>
        <div class="card-action">
          <form method="post" action="/crossroads">
            <button class="btn waves-effect waves-light" type="submit" name="nextButton" value="onward">Onward</button>
          </form>
        </div>
{% endblock %}



