<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>STBF</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='styles/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h3 class="header center orange-text text-darken-2">A Sputtering Torch, A Battered Flask</h3>
      <div class="row center">
        <h5 class="header col s12 light">dungeon crawling browser game</h5>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Character</span>
          
            <p class="name">Name: {{ name }}</p>
            <p class="job">Job: {{ job }}</p>
            <p class="level">Level: {{ level }}</p>
            <p class="strength">Strength: {{ strength }}</p>
            <p class="speed">Speed: {{ speed }}</p>
            <p class="health">Health: {{ health }}</p>
            
        </div>
        <div class="card-action">
          <form method="post" action="/newGame">
            <button class="btn waves-effect waves-light" type="submit" name="action" value="newGame">New Game</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Inventory</span>
            
            <p>Gold: {{ gold }}</p>
            <p>Torches: {{ torches }}</p>
            <p>Rations: {{ rations }}</p>
            <p>Weapon: {{ weapon }}</p>
            <p>Weapon Damage: {{ weaponDamage }}</p>
            <p>Weapon Range: {{ weaponRange }}</p>
            <p>Armor: {{ armor }}</p>
            <p>Helmet: {{ helmet }}</p>
            <p>Shield: {{ shield }}</p>
            <p>Cloak: {{ cloak }}</p>
            <p>Armor Rating: {{ armorRating }}</p>
            <p>Stealthiness: {{ stealthiness }}</p>
            <p>Spell: {{ knownSpell }}</p>

        </div>
      </div>
    </div>
    
    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static',filename='scripts/materialize.js') }}"></script>

  </body>
</html>
