{% extends "game.html" %}


{% block content %}
{{ super() }}
          <span class="card-title">Exploring...</span>
          <p>{{ descriptionA }}</p>
          <p>{{ descriptionB }}</p>
          <p>{{ descriptionC }}</p>
          <br>
          <p>{{ introA }}</p>
          <p>{{ introB }}</p>
          <p>{{ introC }}</p>
          <p>{{ introD }}</p>
        <div class="card-action">
          <form method="post" action="/monster">
            <button class="btn waves-effect waves-light" type="submit" name="actionButton" value="attack">Attack</button>
            <button class="btn waves-effect waves-light" type="submit" name="actionButton" value="maneuver">Maneuver</button>
            <button class="btn waves-effect waves-light" type="submit" name="actionButton" value="sneak">Sneak Past</button>
          </form>
        </div>
{% endblock %}



