{% extends "game.html" %}


{% block content %}
{{ super() }}
          <span class="card-title">A New Adventure Begins!</span>
            <p>This is a game about exploring a dark and dangerous world.</p>
            <p>Fight or sneak past terrible monsters to find strange treasures.</p>
            <p>Spend your gold to buy better equipment.</p>
            <p>You need a torch to leave town safely and a ration to heal.</p>
            <p>Save up enough to buy a tavern and you win!</p>
        <div class="card-action">
          <form method="post" action="/confirmStart">
            <button class="btn waves-effect waves-light" type="submit" name="startButton" value="start">Create a Character</button>
          </form>
        </div>
{% endblock %}



