{% extends "game.html" %}


{% block content %}
{{ super() }}
          <span class="card-title"> {{ name }} sets out!</span>
          <p>{{ name }} travels back out into the dark wilderness beyond the town.</p>
          <p>Without a torch {{ name }} must stumble blindly down the dark paths.</p>
        <div class="card-action">
          <form method="post" action="/newRoom">
            <button class="btn waves-effect waves-light" type="submit" name="setOutButton" value="onward">Onward</button>
          </form>
        </div>
{% endblock %}



