{% extends "game.html" %}


{% block content %}
{{ super() }}
          <span class="card-title">Town</span>
          <h6><u>Items for sale:</u></h6>
          <p>TORCHES: 1 Gold</p>
          <p>RATIONS: 1 Gold</p>
          <p>{{ storeWeapon }}</p>
          <p>{{ storeArmor }}</p>
          <p>{{ storeGear }}</p>
          <p>TAVERN: 40 Gold</p>
          <br>
        <div class="card-action">
          <form method="post" action="/sendShop">
            <button class="btn-flat white-text waves-effect waves-light" type="submit" name="buyButton" value="torch">Torch</button>
            <button class="btn-flat white-text waves-effect waves-light" type="submit" name="buyButton" value="ration">Ration</button>
            <button class="btn-flat white-text waves-effect waves-light" type="submit" name="buyButton" value="weapon">Weapon</button>
            <button class="btn-flat white-text waves-effect waves-light" type="submit" name="buyButton" value="armor">Armor</button>
            <button class="btn-flat white-text waves-effect waves-light" type="submit" name="buyButton" value="gear">Gear</button>
            <button class="btn-flat white-text waves-effect waves-light" type="submit" name="buyButton" value="tavern">Tavern</button>
            <button class="btn-flat white-text waves-effect waves-light" type="submit" name="buyButton" value="leave">Leave</button>
          </form>
        </div>
{% endblock %}


